<ng-container *ngIf="modalType === 'electronics'">
    <div class="absolute top-28 right-0 z-40 h-1/2 w-full bg-amber-200"> 
        elec
    </div>
</ng-container>

<ng-container *ngIf="modalType === 'mens fashion'">
    <div class="absolute top-28 right-0 z-40 h-1/2 w-full bg-amber-200"> 
        mens fa
    </div>
</ng-container>

<ng-container *ngIf="modalType === 'womens fashion'">
    <div class="absolute top-28 right-0 z-40 h-1/2 w-full bg-amber-200"> 
        womens
    </div>
</ng-container>