# Ignore build and output folders
bin/
obj/
.vs/
secrets/

# Ignore backup and log files
*.bak
*.log

# Ignore application secrets
appsettings.Development.json
appsettings.Local.json

# Ignore temporary files and build artifacts
*.pdb
*.exe
*.dll

# Ignore database model files
*.dbmdl
*.jfm