/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

@keyframes slide {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox and IE/Edge */
.scrollbar-hide {
  scrollbar-width: none;
  -ms-overflow-style: none;
}