<!---------------------------------------------------- Main Header ------------------------------------------------------------------------->
<div class="flex max-w-screen h-[65px] bg-[#feee00] items-center justify-center space-x-4">
    <div class="w-[88px] h-full flex items-center">
        <img class="min-w-[80px]" src="assets/images/noon-logo-en.svg" alt="noon logo"> 
    </div>
    <div class="h-full w-[105px] flex items-center space-x-0.5">
        <div class="">
            <img src="assets/images/Dubai.svg" alt="country logo" class=""> 
        </div>
        <div class="w-3/4 flex-col">
            <span class="pl-1 text-[15px]">Deliver to</span>
            <select class="font-semibold text-md outline-0" title="Country select box">
                <option>Dubai</option>
            </select>
        </div>
    </div>
    <div>
        <input type="text" placeholder="What are you looking for?" 
        class="bg-white lg:w-[880px] h-[35px] rounded-sm p-3 text-md outline-0">
    </div>
    <div class="border-r-1 pl-3 pr-3 h-[20px] flex items-center border-gray-300">
        العربية
    </div>
    <div class="flex space-x-2 h-[20px] items-center border-r-1 border-gray-300 pr-3">
        <span class="font-bold">Log In</span>
        <img class="h-4" src="assets/images/user.svg" alt="avatar">
    </div>
    <div class="flex space-x-6 pr-10">
        <img src="assets/images/wishlist-dark.svg" class="h-6" alt="wishlist">
        <img src="assets/images/cart.svg" class="h-6" alt="cart">
    </div>
</div>

<!---------------------------------------------------- Category Section ------------------------------------------------------------------>
<div class="flex max-w-full h-[48px] items-center pl-[240px] bg-[#fcfbf4] border-b-[#e2e5f1] border-solid border-b-[1px]">
    @if (showLeftButton){
        <button class="w-[35px] cursor-pointer h-full flex items-center justify-start bg-gradient-to-r from-transparent to-white" 
        (click)="handleScroll('right')">
            <img class="h-full" src="assets/images/chevron-left.svg">
        </button>
    }

    <div class="flex items-center h-full space-x-7 w-[1200px] overflow-x-auto scrollbar-hide font-semibold" #nav>
        <a routerLink="" class="flex items-center justify-center min-w-[85px] h-full" appHighlight>Electronics</a>
        <a routerLink="" class="flex items-center justify-center min-w-[110px] h-full" appHighlight>Men's Fashion</a>
        <a routerLink="" class="flex items-center justify-center min-w-[127px] h-full" appHighlight>Women's Fashion</a>
        <a routerLink="" class="flex items-center justify-center min-w-[110px] h-full" appHighlight>Kid's Fashion</a>
        <a routerLink="" class="flex items-center justify-center min-w-[120px] h-full" appHighlight>Home & Kitchen</a>
        <a routerLink="" class="flex items-center justify-center min-w-[35px] h-full" appHighlight>Baby</a>
        <a routerLink="" class="flex items-center justify-center min-w-[35px] h-full" appHighlight>Toys</a>
        <a routerLink="" class="flex items-center justify-center min-w-[145px] h-full" appHighlight>Sports & Outdoors</a>
        <a routerLink="" class="flex items-center justify-center min-w-[75px] h-full" appHighlight>Stationary</a>
        <a routerLink="" class="flex items-center justify-center min-w-[80px] h-full" appHighlight>Automotive</a>
        <a routerLink="" class="flex items-center justify-center min-w-[120px] h-full" appHighlight>Books & Media</a>
        <a routerLink="" class="flex items-center justify-center min-w-[40px] h-full pr-2" appHighlight>Food</a>
    </div>

    @if (!showLeftButton){
        <button class="w-[35px] h-full cursor-pointer flex items-center justify-start bg-gradient-to-l from-transparent to-white" 
        (click)="handleScroll('left')">
            <img class="h-full" src="assets/images/chevron-right.svg">
        </button>
    }
    <img src="assets/images/noon-one.png">
</div>