<div class="flex w-screen h-[65px] bg-[#feee00] items-center justify-center space-x-4">
    <div class="w-[90px] h-full flex items-center">
        <img src="assets/images/noon-logo-en.svg" alt="noon logo"> 
    </div>
    <div class="h-full w-[105px] flex items-center space-x-0.5">
        <div class="">
            <img src="assets/images/Dubai.svg" alt="country logo"> 
        </div>
        <div class="w-3/4 flex-col">
            <span class="pl-1 text-[15px]">Deliver to</span>
            <select class="font-bold text-md" title="Country select box">
                <option>Dubai</option>
            </select>
        </div>
    </div>
    <div>
        <input type="text" placeholder="What are you looking for?" 
        class="bg-white w-[700px] h-[35px] rounded-sm p-2 text-md outline-0">
    </div>
    <div class="border-r-1 p-3 h-[20px] flex items-center border-gray-300">
        العربية
    </div>
    <div>
        Login
    </div>
</div>